default menu.c32
prompt 0
timeout 50
menu title **** OpenShift 4 Master PXE Boot Menu ****
 
label Install CoreOS {{ minor_version }} Master Node
  KERNEL /openshift4/{{ minor_version }}/{{ ocp4_kernel_image }}
  APPEND initrd=/openshift4/{{ minor_version }}/{{ ocp4_initrd_image }} coreos.live.rootfs_url=http://{{ vm_ipaddress }}:8080/openshift4/images/{{ ocp4_bios_image }} coreos.inst.install_dev=/dev/sda coreos.inst.ignition_url=http://{{ vm_ipaddress }}:8080/openshift4/{{ openshift_version }}/ignitions/master.ign
